*.zip
.vscode
.venv/
*.log
data/
report/report.pdf
report/icse24.pdf
report/ijcai23.pdf
report/satml24.pdf
report/presentation.pdf
report/icse24-deeptest.pdf
report/auto
*.aux
*.out
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.nav
*.xml
*.snm
datasets
